#content-header {
  text-align: center;
}
.content-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}
.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
}
.center-items {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
#left-column {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
#right-column {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}
/*# sourceMappingURL=content.css.map */