<link rel="stylesheet" href="../components/content-component/content.css">
<h2 id="content-header">Most popular observations</h2>
<div class="content-container">
    <div class="adds-left">

    </div>
    <div id="main-content" class="main-content">
        <div id="left-column">

        </div>
        <div id="right-column">

        </div>
    </div>
    <div class="adds-right">

    </div>
</div>
