@card-width: 620px;

#content-header {
  text-align: center;
}

.content-container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(@card-width, 1fr));
}

.center-items {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

#left-column {
  .center-items
}

#right-column {
  .center-items
}
