@card-width: 620px;
@card-height: 340px;
@separation: 10px;

.observation-container {
  border: 1px solid black;
  margin: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: @card-width;
  height: @card-height;
}

.observation-container:hover {
  -webkit-box-shadow: -15px -15px 25px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -15px -15px 25px -7px rgba(0,0,0,0.75);
  box-shadow: -15px -15px 25px -7px rgba(0,0,0,0.75);
}

.photo-container {
  padding: @separation;
}

.description-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.observation-information {
  display: grid;
  grid-template-rows: 10% 90%;
}

.header-observation {
  text-align: center;
}

.observer-information {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  padding-left: 5px;
}

.header-observer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  img {
    width: 50px;
    height: auto;
    border-radius: 50%;
  }
}

.full-observation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: @separation;
  margin-bottom: @separation;
}
