<link rel="stylesheet" href="../components/content-component/single-observation/single-observation.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="observation-container">
    <div class="photo-container">
        <img id="photo" src="../assets/woodpeckers/woodpecker1.jpg" alt="Observation image not found" width="200px" height="200px">
        <h3 id="title">Observation title</h3>
    </div>
    <div class="description-container" >
        <div class="observation-information">
            <div class="header-observation">
                <h4>Observation</h4>
            </div>
            <div>
                <h4 style="font-weight: bold">Country</h4>
                <p id="country">Poland</p>
                <h4 style="font-weight: bold">Place</h4>
                <p id="place">Świętokrzyski National Park</p>
            </div>
        </div>
        <div class="observer-information">
            <div class="header-observer">
                <h4>Observer</h4>
                <img id="avatar" src="../assets/avatars/avatar1.png" alt="Avatar not found">
            </div>
            <div>
                <h4 style="font-weight: bold">Name</h4>
                <p id="name">Kamil Nowak</p>
                <h4 style="font-weight: bold">Experience</h4>
                <p id="experience">Expert</p>
            </div>
            <div class="full-observation">
                <a href="#"><i class="fa fa-arrow-circle-right" style="font-size: 40px;"></i></a>
            </div>
        </div>
    </div>
</div>
