<link rel="stylesheet" href="../components/footer-component/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="footer-container">
    <div class="main-information-container">
        <div class="short-description">
            <img src="../assets/logo.png" alt="Logo not found">
            <h3 style="font-weight: bold">About Us</h3>
            <p>Lorem Ipsum is simply dummy text of the <br> printing and typesetting industry.</p>
            <p>Contact Us</p>
            <p><i class="fa fa-phone"></i> 333-333-333</p>
            <p><i class="fa fa-envelope"></i> <a href="mailto:test@gmail.com">test@gmail.com</a></p>
        </div>
        <div class="information">
            <h3 style="font-weight: bold">Information</h3>
            <a href="#"><p>About us</p></a>
            <a href="#"><p>More Search</p></a>
            <a href="#"><p>Blog</p></a>
            <a href="#"><p>Events</p></a>
        </div>
        <div class="helpful-links">
            <h3 style="font-weight: bold">Helpful Links</h3>
            <a href="#"><p>Services</p></a>
            <a href="#"><p>Supports</p></a>
            <a href="#"><p>Terms &amp; Condition</p></a>
            <a href="#"><p>Privacy Policy</p></a>
        </div>
        <div class="subscription">
            <form action="#">
                <div class="input-container">
                    <p>Subscribe More Info</p>
                    <i class="fa fa-envelope icon"></i>
                    <input type="email" id="email-subscription" name="email-subscription" placeholder="Enter your Email">
                </div>
                <br>
                <input id="email-submit" type="submit" value="Subscribe">
            </form>
        </div>
    </div>
    <div class="separate-line">
        <hr style="border: 2px solid black;">
    </div>
    <div class="social-media-container">
        <div class="social-images">
            <a href="#"><img src="../assets/social-media-logos/facebook.png" alt="Facebook logo not found"></a>
            <a href="#"><img src="../assets/social-media-logos/instagram.png" alt="Instagram logo not found"></a>
            <a href="#"><img src="../assets/social-media-logos/linkedin.png" alt="Linkedin logo not found"></a>
            <a href="#"><img src="../assets/social-media-logos/twitter.png" alt="Twitter logo not found"></a>
        </div>
        <p>Copyright &#169; 2019-2020. All rights reserved.</p>
    </div>
</div>
