.footer-container {
  display: grid;
  grid-template-rows: 75% 5% 20%;
  background: #828282;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}
.main-information-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.short-description {
  margin: auto;
}
.short-description img {
  width: 15%;
  height: auto;
  border-radius: 50%;
}
.link-decoration {
  text-decoration: none;
}
.helpful-links a {
  text-decoration: none;
}
.information a {
  text-decoration: none;
}
.subscription {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.input-container {
  position: relative;
  padding: 0;
  margin: 0;
}
.input-container p {
  padding-bottom: 10px;
}
.icon {
  position: absolute;
  padding: 14px;
  min-width: 40px;
}
#email-subscription {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
#email-submit {
  border-radius: 10%;
}
.social-media-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.social-media-container p {
  font-size: 10px;
  grid-column-start: 3;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.social-images {
  grid-column-start: 2;
  text-align: center;
}
.social-images img {
  margin: 3px;
  width: 5%;
  height: auto;
}
/*# sourceMappingURL=footer.css.map */