@size-of-font: 10px;

.footer-container {
  display: grid;
  grid-template-rows: 75% 5% 20%;
  background: #828282;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

.main-information-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.short-description {
  margin: auto;
  img {
    .given-width-auto-height(15%);
    border-radius: 50%;
  }
}

.given-width-auto-height(@width){
  width: @width;
  height: auto;
}

.link-decoration {
  text-decoration: none;
}

.helpful-links a {
  .link-decoration
}

.information a {
  .link-decoration
}

.subscription {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.input-container {
  position:relative;
  padding:0;
  margin:0;
  p {
    padding-bottom: 10px;
  }
}

.icon {
  position:absolute;
  padding: 14px;
  min-width: 40px;
}

#email-subscription {
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

#email-submit {
  border-radius: 10%;
}

.social-media-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  p {
    font-size: @size-of-font;
    grid-column-start: 3;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.social-images {
  grid-column-start: 2;
  text-align: center;
  img {
    margin: 3px;
    .given-width-auto-height(5%);
  }
}
