.header-container {
  display: grid;
  background: -moz-radial-gradient(white, black);
  background: -ms-radial-gradient(white, black);
  background: -wekbit-radial-gradient(white, black);
  background: radial-gradient(white, black);
  grid-template-columns: 1fr 1fr 1fr;
}
.logo-holder {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
}
.logo-holder img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border-radius: 50%;
}
.navigation-bar {
  background: transparent;
  display: grid;
  grid-template-columns: 30% 70%;
}
.navigation-bar a {
  color: black;
  text-decoration: none;
  margin: 5px;
}
.navigation-bar a:hover {
  -webkit-box-shadow: 10px 11px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 11px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 10px 11px 5px 0 rgba(0, 0, 0, 0.75);
}
.navigation-bar h3 {
  padding: 5px;
}
.navigation-bar-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.account-management {
  display: flex;
  background: transparent;
  align-items: center;
  margin-left: auto;
}
.account-management button {
  font-size: 15px;
}
/*# sourceMappingURL=header.css.map */