<link rel="stylesheet" href="../components/header-component/header.css">
<link rel="stylesheet" href="../global-styles/buttons.css">
<div class="header-container">
    <div class="logo-holder">
        <a href="#"><img src="../assets/logo.png" alt="Logo not found"></a>
    </div>
    <div class="navigation-bar">
        <div>
            <h2>Observer</h2>
        </div>
        <div class="navigation-bar-menu">
            <a href="#"><h3>Home</h3></a>
            <a href="#"><h3>About</h3></a>
            <a href="#"><h3>Contact</h3></a>
        </div>
    </div>
    <div class="account-management">
        <button>Sign in</button>
        <button>Sign up</button>
    </div>
</div>
